{% if plugins.call_tool[ref].active %}
  <div id='call-status-component'></div>

  <script>
    $(document).ready(function() {
      var data = _.clone(window.champaign.personalization.callTool['{{ref}}']);
      mountCallStatus('call-status-component', data);
    });
  </script>
{% endif %}
